.search {
  width: 100%;
  border: 1px solid #AEB1C2;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 12px;
  padding: 9px 13px;

  input {
    font-family: Poppins;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding-left: 25px;
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.assetList {
  display: flex;
  flex-direction: column;
}  

.assetRow {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Poppins;

  .assetInfo {
    display: flex;
    color: #212529;

    & > img {
      margin-right: 8px;
    }
  }

  .assetPrice {
    display: flex;  
    flex-direction: column;
    align-items: flex-end;

    .price {
      color: #212529;
    }
    .priceInBtc {
      color: #868E96;
      font-size: 14px;
      letter-spacing: 0.01em;
    }
  }
}


.addAsset {
  margin-top: 16px;
  width: max-content;
  align-items: center;
  display: flex;
  padding: 10px 22px;
  border: 1px solid #AEB1C2;
  border-radius: 48px;
  cursor: pointer;

  & > svg {
    color: #495057;
    margin-right: 10px;
  }

  & > span {
    color: #212529;
  }

  &:hover {
    border-color: #212529;
  }
}
